.container {
  padding: 2rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.first-span {
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
  margin-right: 10px;
}

.second-span {
  text-transform: uppercase;
  background-color: var(--desaturated-dark-cyan);
  color: white;
  font-weight: 500;
  padding: 6px;
  border-radius: 10px;
  margin-right: 8px;
}

.third-span {
  text-transform: uppercase;
  background-color: var(--very-dark-grayish-cyan);
  color: white;
  font-weight: 500;
  padding: 6px;
  border-radius: 10px;
}

.border-left {
  border-left: 5px solid var(--desaturated-dark-cyan);
}

.left-side {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.position-container {
  font-weight: 700;
  color: var(--very-dark-grayish-cyan);
  cursor: pointer;
}

.position-container:hover {
  color: var(--desaturated-dark-cyan);
}

.features-container ul {
  color: var(--dark-grayish-cyan);
  display: flex;
  padding: 0;
  gap: 1.5rem;
}

.no-list {
  list-style-type: none;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right-side button {
  cursor: pointer;
  border: none;
  color: var(--desaturated-dark-cyan);
  background-color: var(--light-grayish-cyan);
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 700;
}

.right-side button:hover {
  background-color: var(--desaturated-dark-cyan);
  color: var(--light-grayish-cyan);
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  border-radius: 5px;
  position: absolute;
  top: -30px;
  width: 87%;
}

.filter-buttons button {
  cursor: pointer;
}

.filter-left-side {
  display: flex;
  gap: 15px;
}

.filter-left-side span {
  border: none;
  color: var(--desaturated-dark-cyan);
  background-color: var(--light-grayish-cyan);
  padding-left: 5px;
  border-radius: 5px;
  font-weight: 700;
  overflow: hidden;
}

.filter-left-side button {
  border: none;
  background-color: var(--desaturated-dark-cyan);
  color: var(--light-grayish-cyan);
  font-size: 1.5rem;
}

.filter-left-side button:hover {
  background-color: var(--very-dark-grayish-cyan);
  color: white;
}

.filter-right-side button {
  border: none;
  background: none;
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
  font-size: 1.2rem;
}

.filter-right-side button:hover {
  text-decoration: underline;
}

@media (max-width: 960px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .filter-buttons {
    width: 81%;
  }

  .filter-left-side {
    flex-wrap: wrap;
  }

  .right-side {
    flex-flow: wrap;
  }
}

@media (max-width: 550px) {
  .container {
    align-items: left;
  }

  .filter-buttons {
    width: 89%;
  }
  .left-side {
    position: relative;
  }

  .image-container {
    position: absolute;
    top: -60px;
    left: -10px;
  }

  .image-container img {
    width: 50px;
  }
}

@media (max-width: 390px) {
  .container {
    padding: 30px 15px 15px;
    align-items: left;
  }

  .filter-buttons {
    width: 83%;
  }
  .image-container {
    left: -5px;
  }

  .image-container img {
    width: 50px;
  }
}
