.app-container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: var(--desaturated-dark-cyan);
}

header img {
  width: 100%;
}

.jobs-container {
  padding: 7rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--light-grayish-cyan);
  position: relative;
}

@media (max-width: 550px) {
  .jobs-container {
    padding: 7.5rem 2rem;
    gap: 45px;
  }
}

@media (max-width: 390px) {
  .jobs-container {
    padding: 10.5rem 2rem;
  }
}
