.app-container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: var(--desaturated-dark-cyan);
}

header img {
  width: 100%;
}

.jobs-container {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--light-grayish-cyan);
}
